.logo{
  width:5rem;
  height: 5rem;
}

.notification {
  height: 40px;
  width: 30%;
  background-color: goldenrod;
  color: white;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

