.container {
    padding: 20px;
    background-color: azure;
    text-align: center;
  }
  
  .table-container {
    margin-top: 20px;
    overflow: auto;
    background-color: green;
  }
  
  table {
    width: 100%;
  }
  
  .mat-paginator {
    margin-top: 10px;
  }
  