<app-header></app-header>

<div style=" height:100% " class="row">

<div style="width:70%; height:100%">
<img src="../../assets/images/school2.jpeg" style="width:100%; height:100%">
</div>

<div style="width:30%; height:100%" class="login column">

  <img src="../../assets/images/download.png" style="width:10rem; height:10rem; padding-left: 10rem;">

  <div class="column" style="padding-left: 5rem; padding-right: 5rem; padding-bottom: 1rem;padding-top: 2rem;">
    <input type="text" name="username" placeholder="Enter Your Username" id="username" />
  </div>

  <div class="column" style="padding-left: 5rem; padding-right: 5rem; padding-bottom: 1rem;">
    <input type="password" name="username" placeholder="Enter Your password" id="password" />
  </div>

  <div class="column" style="padding-left: 5rem; padding-right: 5rem; padding-bottom: 1rem;">
    <button (click)="handleLogin()">Login</button>
  </div>



</div>





</div>





<app-footer></app-footer>
